<!-- Views/Shared/_Layout.cshtml -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - My Web API</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="container">
        <header>
            <h1>@ViewData["Title"]</h1>
        </header>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
        <footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2024 - My Web API
            </div>
        </footer>
    </div>
    @RenderSection("Scripts", required: false)
</body>
</html>
